  <h1>Log in</h1>
  <div class="log_in_form">
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in", class: 'btn btn-primary' %>
  <% end %>
</div>
<%= link_to 'Create an account', new_user_path %>
