<p>
  <strong>image:</strong>
  <%= image_tag @feed.image.url %>
  <strong>content:</strong>
  <%= @feed.content %>
</p>


<% unless @feed.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入りを解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りにする', favorites_path(feed_id: @feed.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if @feed.user_id == current_user.id %>
  <%= link_to 'edit', edit_feed_path(@feed) %> |
<% end %>
<%= link_to 'back', feeds_path %>
