<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="top_menu">
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
          <li><%= link_to 'New Feed', new_feed_path %></li>
          <li><%= link_to 'Index Feed', feeds_path %></li>
          <li><%= link_to 'favorites', favorites_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
      </ul>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}")%>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社 写真共有株式会社</p>
      <p>© 2021- Photo sharing Corp.</p>
    </footer>
  </body>
</html>
